@import url("../css/default.css"); /* Import Website colors and default styles from one css file */
.title{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 150px;
}
.title h1{
    text-decoration: underline;
}
.title p{
    margin-top: 1%;
}
.overview{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.overview h1{
    text-decoration: underline;
}
.overview p{
    margin-top: 1%;
    line-height: 150%;
}
.ov-content{
    margin-left: 0;
    text-align: left;
    width: 90%;
}
.ov-content h2{
    margin-top: 4%;
}
.ov-content p{
    text-align: left;
}
.overview img{
    width: 100%
}
.video{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.video h1{
    text-decoration: underline;
}
.ptype{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.ptype h1{
    text-decoration: underline;
}
.team{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.team h1{
    text-decoration: underline;
}

.documents{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.documents h1{
    text-decoration: underline;
}

.document-container h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.document-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.read-more-button {
    display: block;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.read-more-button:hover {
    background-color: #2980b9;
}
