@import url("../css/default.css"); /* Import Website colors and default styles from one css file */
.title{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 150px;
}
.title h1{
    text-decoration: underline;
}
.title p{
    margin-top: 1%;
}
.overview{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.overview h1{
    text-decoration: underline;
}
.overview p{
    margin-top: 1%;
    line-height: 150%;
}
.ov-content{
    margin-left: 0;
    text-align: left;
    width: 90%;
}
.ov-content h2{
    margin-top: 4%;
}
.ov-content p{
    text-align: left;
}
.overview img{
    width: 100%;
}
.video{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.video h1{
    text-decoration: underline;
}
.video iframe{
    width: 800px;
    height: 500px;
}
.ptype{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.ptype iframe{
    margin-top: 3%;
    width:  800px;
    height: 600px;
}
.ptype h1{
    text-decoration: underline;
}
.team{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.team img{
    border-radius: 50%;
}
.team-members {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
    gap: 20px; /* Adjust the gap between items */
  }
  
  .team-member {
    /* Styling for individual team members */
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 20px;
  }
.team h1{
    text-decoration: underline;
}
.team p{
    line-height: 200%;
}

.documents{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.documents h1{
    text-decoration: underline;
}

.document-container h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.document-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.read-more-button {
    display: block;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.read-more-button:hover {
    background-color: #2980b9;
}

@media (max-width: 1090px){
    .ptype iframe{
        width: 550px;
        height: 400px
    }
    .video iframe{
        width: 550px;
        height: 400px
    }
}

.team-member_img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
